<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.sprinklermanager.allocationretwarehouserecordmanager.dao.AllocationRetWarehouseRecordDao">

    <select id="getDetail"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.allocationretwarehouserecordmanager.domain.vo.AllocationRetWarehouseRecordVO">
        SELECT arwr.*
        FROM t_allocation_ret_warehouse_record arwr
        WHERE arwr.record_id = #{recordId}
          AND arwr.deleted_flag = #{deletedFlag}
    </select>
    <select id="queryPage"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.allocationretwarehouserecordmanager.domain.vo.AllocationRetWarehouseRecordVO">
        SELECT * FROM t_allocation_ret_warehouse_record
        <where>
            record_id IN
            <foreach item="id" collection="distinctIds" open="(" separator="," close=")">
                #{id}
            </foreach>
            <if test="markedFlag!=null">
                AND marked_flag = #{markedFlag}
            </if>
        </where>
        <!-- 分页参数由插件自动追加（如MySQL追加LIMIT） -->
        ORDER BY t_allocation_ret_warehouse_record.create_time DESC
    </select>
    <select id="queryPageWithoutPage"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.allocationretwarehouserecordmanager.domain.vo.AllocationRetWarehouseRecordVO">
        SELECT t_allocation_ret_warehouse_record.*,
        t_allocation_ret_warehouse.*
        FROM t_allocation_ret_warehouse_record
        LEFT JOIN t_allocation_ret_warehouse on t_allocation_ret_warehouse_record.record_id =
        t_allocation_ret_warehouse.record_id
        <where>
            t_allocation_ret_warehouse.deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.allocateSprinklerSerial != null and queryForm.allocateSprinklerSerial != ''">
                AND INSTR(allocate_sprinkler_serial,#{queryForm.allocateSprinklerSerial})
            </if>

            <if test="queryForm.allocateSprinklerModel != null and queryForm.allocateSprinklerModel != ''">
                AND INSTR(allocate_sprinkler_model,#{queryForm.allocateSprinklerModel})
            </if>

            <if test="queryForm.allocatePurpose != null and queryForm.allocatePurpose != ''">
                AND INSTR(allocate_purpose,#{queryForm.allocatePurpose})
            </if>

            <if test="queryForm.allocateColor != null and queryForm.allocateColor != ''">
                AND INSTR(allocate_color,#{queryForm.allocateColor})
            </if>

            <if test="queryForm.allocatePosition != null">
                AND allocate_position = #{queryForm.allocatePosition}
            </if>

            <if test="queryForm.allocateSprinklerIsNew != null">
                AND allocate_sprinkler_is_new = #{queryForm.allocateSprinklerIsNew}
            </if>

            <if test="queryForm.retWarehouseSprinklerSerial != null and queryForm.retWarehouseSprinklerSerial != ''">
                AND INSTR(ret_warehouse_sprinkler_serial,#{queryForm.retWarehouseSprinklerSerial})
            </if>

            <if test="queryForm.retWarehouseSprinklerModel != null and queryForm.retWarehouseSprinklerModel != ''">
                AND INSTR(ret_warehouse_sprinkler_model,#{queryForm.retWarehouseSprinklerModel})
            </if>

            <if test="queryForm.retWarehouseMachine != null and queryForm.retWarehouseMachine != ''">
                AND INSTR(ret_warehouse_machine,#{queryForm.retWarehouseMachine})
            </if>

            <if test="queryForm.retWarehouseColor != null and queryForm.retWarehouseColor != ''">
                AND INSTR(ret_warehouse_color,#{queryForm.retWarehouseColor})
            </if>

            <if test="queryForm.retWarehousePosition != null">
                AND ret_warehouse_position = #{queryForm.retWarehousePosition}
            </if>

            <if test="queryForm.retWarehouseSprinklerIsNew != null">
                AND ret_warehouse_sprinkler_is_new = #{queryForm.retWarehouseSprinklerIsNew}
            </if>

            <if test="queryForm.retWarehouseReason != null and queryForm.retWarehouseReason != ''">
                AND INSTR(ret_warehouse_reason,#{queryForm.retWarehouseReason})
            </if>

            <if test="queryForm.retWarehouseRealReason != null and queryForm.retWarehouseRealReason != ''">
                AND INSTR(ret_warehouse_real_reason,#{queryForm.retWarehouseRealReason})
            </if>

            <if test="queryForm.note != null and queryForm.note != ''">
                AND INSTR(note,#{queryForm.note})
            </if>
            <if test="queryForm.status != null">
                AND status = #{queryForm.status}
            </if>
            <if test="queryForm.disabledflag != null">
                AND t_allocation_ret_warehouse.disabled_flag = #{queryForm.disabledFlag}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY t_allocation_ret_warehouse_record.create_time DESC
        </if>
    </select>

</mapper>