<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.dao.MachineSprinklerDao">
    <select id="queryPage"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.vo.MachineSprinklerVO">
        SELECT t_machine_sprinkler.*,
               t_sprinkler.*
        FROM t_machine_sprinkler
        LEFT JOIN t_sprinkler ON t_sprinkler.sprinkler_id = t_machine_sprinkler.sprinkler_id
        <where>
            t_sprinkler.deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.sprinklerModel != null and queryForm.sprinklerModel != ''">
                AND INSTR(t_sprinkler.sprinkler_model,#{queryForm.sprinklerModel})
            </if>
            <if test="queryForm.sprinklerSerial != null and queryForm.sprinklerSerial != ''">
                AND INSTR(t_sprinkler.sprinkler_serial,#{queryForm.sprinklerSerial})
            </if>
            <if test="queryForm.warehouseDateStartTime != null">
                AND DATE_FORMAT(t_sprinkler.warehouse_date, '%Y-%m-%d') &gt;= #{queryForm.warehouseDateStartTime}
            </if>
            <if test="queryForm.warehouseDateEndTime != null">
                AND DATE_FORMAT(t_sprinkler.warehouse_date, '%Y-%m-%d') &lt;= #{queryForm.warehouseDateEndTime}
            </if>
            <if test="queryForm.allocateDateStartTime != null">
                AND DATE_FORMAT(t_sprinkler.allocate_date, '%Y-%m-%d') &gt;= #{queryForm.allocateDateStartTime}
            </if>
            <if test="queryForm.allocateDateEndTime != null">
                AND DATE_FORMAT(t_sprinkler.allocate_date, '%Y-%m-%d') &lt;= #{queryForm.allocateDateEndTime}
            </if>
            <if test="queryForm.allocatePurpose != null and queryForm.allocatePurpose != ''">
                AND INSTR(t_sprinkler.allocate_purpose,#{queryForm.allocatePurpose})
            </if>
            <if test="queryForm.allocatePosition != null and queryForm.allocatePosition != ''">
                AND INSTR(t_sprinkler.allocate_position,#{queryForm.allocatePosition})
            </if>
            <if test="queryForm.history != null and queryForm.history != ''">
                AND INSTR(t_sprinkler.history,#{queryForm.history})
            </if>
            <if test="queryForm.disabledFlag != null">
                AND t_sprinkler.disabled_flag = #{queryForm.disabledFlag}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY t_sprinkler.create_time DESC
        </if>
    </select>

</mapper>