<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.dao.RmaSprinklerDao">
    <select id="queryPage"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.vo.RmaSprinklerVO">
        SELECT t_sprinkler.*,
        t_rma_sprinkler.*
        FROM t_rma_sprinkler
        LEFT JOIN t_sprinkler ON t_sprinkler.sprinkler_id = t_rma_sprinkler.sprinkler_id
        <where>
            t_rma_sprinkler.deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.sprinklerSerial != null and queryForm.sprinklerSerial != ''">
                AND INSTR(t_sprinkler.sprinkler_serial,#{queryForm.sprinklerSerial})
            </if>
            <if test="queryForm.history != null and queryForm.history != ''">
                AND INSTR(t_sprinkler.history,#{queryForm.history})
            </if>
            <if test="queryForm.sprinklerDetail != null and queryForm.sprinklerDetail != ''">
                AND INSTR(t_sprinkler.sprinkler_detail,#{queryForm.sprinklerDetail})
            </if>
            <if test="queryForm.disabledFlag != null">
                AND t_sprinkler.disabled_flag = #{queryForm.disabledFlag}
            </if>

            <if test="joinForm.retMaintainenceDateStartTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_maintainence_date, '%Y-%m-%d') &gt;= #{joinForm.retMaintainenceDateStartTime}
            </if>
            <if test="joinForm.retMaintainenceDateEndTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_maintainence_date, '%Y-%m-%d') &lt;= #{joinForm.retMaintainenceDateEndTime}
            </if>

            <if test="joinForm.retMaintainenceReason != null and joinForm.retMaintainenceReason != ''">
                AND INSTR(t_rma_sprinkler.ret_maintainence_reason,#{joinForm.retMaintainenceReason})
            </if>
            <if test="joinForm.retWarehouseDateStartTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_warehouse_date, '%Y-%m-%d') &gt;= #{joinForm.retWarehouseDateStartTime}
            </if>
            <if test="joinForm.retWarehouseDateEndTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_warehouse_date, '%Y-%m-%d') &lt;= #{joinForm.retWarehouseDateEndTime}
            </if>
            <if test="joinForm.customer != null and joinForm.customer != ''">
                AND INSTR(t_rma_sprinkler.customer,#{joinForm.customer})
            </if>
            <if test="joinForm.rmaPosition != null and joinForm.rmaPosition != ''">
                AND INSTR(t_rma_sprinkler.rma_position,#{joinForm.rmaPosition})
            </if>
            <if test="joinForm.warehouseCheck != null and joinForm.warehouseCheck != ''">
                AND INSTR(t_rma_sprinkler.warehouse_check,#{joinForm.warehouseCheck})
            </if>
            <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
                ORDER BY t_rma_sprinkler.ret_warehouse_date DESC
            </if>
        </where>
    </select>
    <select id="queryExcel"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.vo.RmaSprinklerExcelVO">
        SELECT t_sprinkler.*,
        t_rma_sprinkler.*
        FROM t_rma_sprinkler
        LEFT JOIN t_sprinkler ON t_sprinkler.sprinkler_id = t_rma_sprinkler.sprinkler_id
        <where>
            t_rma_sprinkler.deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.sprinklerSerial != null and queryForm.sprinklerSerial != ''">
                AND INSTR(t_sprinkler.sprinkler_serial,#{queryForm.sprinklerSerial})
            </if>
            <if test="queryForm.history != null and queryForm.history != ''">
                AND INSTR(t_sprinkler.history,#{queryForm.history})
            </if>
            <if test="queryForm.sprinklerDetail != null and queryForm.sprinklerDetail != ''">
                AND INSTR(t_sprinkler.sprinkler_detail,#{queryForm.sprinklerDetail})
            </if>
            <if test="queryForm.disabledFlag != null">
                AND t_sprinkler.disabled_flag = #{queryForm.disabledFlag}
            </if>

            <if test="joinForm.retMaintainenceDateStartTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_maintainence_date, '%Y-%m-%d') &gt;= #{joinForm.retMaintainenceDateStartTime}
            </if>
            <if test="joinForm.retMaintainenceDateEndTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_maintainence_date, '%Y-%m-%d') &lt;= #{joinForm.retMaintainenceDateEndTime}
            </if>

            <if test="joinForm.retMaintainenceReason != null and joinForm.retMaintainenceReason != ''">
                AND INSTR(t_rma_sprinkler.ret_maintainence_reason,#{joinForm.retMaintainenceReason})
            </if>
            <if test="joinForm.retWarehouseDateStartTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_warehouse_date, '%Y-%m-%d') &gt;= #{joinForm.retWarehouseDateStartTime}
            </if>
            <if test="joinForm.retWarehouseDateEndTime != null">
                AND DATE_FORMAT(t_rma_sprinkler.ret_warehouse_date, '%Y-%m-%d') &lt;= #{joinForm.retWarehouseDateEndTime}
            </if>
            <if test="joinForm.customer != null and joinForm.customer != ''">
                AND INSTR(t_rma_sprinkler.customer,#{joinForm.customer})
            </if>
            <if test="joinForm.rmaPosition != null and joinForm.rmaPosition != ''">
                AND INSTR(t_rma_sprinkler.rma_position,#{joinForm.rmaPosition})
            </if>
            <if test="joinForm.warehouseCheck != null and joinForm.warehouseCheck != ''">
                AND INSTR(t_rma_sprinkler.warehouse_check,#{joinForm.warehouseCheck})
            </if>
            <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
                ORDER BY t_rma_sprinkler.ret_warehouse_date DESC
            </if>
        </where>
    </select>

</mapper>